/* .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  margin-top: 3%;
  align-items: center;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-container {
  padding: 0 16px;
}
.card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
