/* Adjusting for mobile  */
@media (max-width: 600px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  li, p {
    font-size: 15px;
    line-height: 1.5em;
  }

  p.lead {
    font-size: 15px;
  }

  .navbar-brand img {
    display: none;
  }

  #home {
    display: block;
    text-align: center;
    height: 60%;
    width: auto;
    margin-bottom: 5%;
  }
  #home img {
    object-fit: cover;
    padding-top: 5%;
    height: auto;
    width: 100%;
  }

  .info-container {
    text-align: center;
    margin: 10% 0px 10% 0px !important;
    font-family: 'Montserrat', sans-serif;
    transition: 1.5s;
    animation: fadein 2s;
    color: #636363;
  }

  @keyframes fadein {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  .hidden {
    margin: 10% 0px 10% 0px !important;
    text-align: center;
  }

  .info-container h1 {
    margin: 0 !important;
  }

  .info-container h1:after {
    text-align: center;
    margin-left: 7%;
  }

  .info {
      margin: 5% !important;
      padding: 16px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .info p {
      font-size: 15px;
  }
  .project-info {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}
